*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:'poppin';
}
.logo{
    width: 20%;
    height: 10%;
}



header{
    min-height: 120vh;
    width: 100%;
    background-image: linear-gradient(#a5c7a0, #d7f7d4);
    position: relative;
    overflow: hidden;
}

.navbar{
    height: 5rem;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar.sticky{
    position: fixed;
    width: 100%;
    background-color: #a5c7a0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999999;
}

.logo{
    display: flex;
    align-items: center;
}

.logo span{
    font-size: 2rem;
    color: #a5c7a0;
    font-weight: 800;
}

.logo img{
    height: 60px;
    width: 60px;
}

nav{
    width: 50%;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

nav ul li{
    position: relative;
    padding: 0;
}

nav ul li a{
    color: #a5c7a0;
    font-size: 16px;
}

.navbar.sticky ul li a{
    color: white;
}

nav ul li .active{
    border-bottom: 3px solid aliceblue;
}

nav ul li:hover{
    border-bottom: 2px solid aliceblue;
}

.navbar.sticky ul li:hover{
    border-bottom: 1px solid aliceblue;
}

.btn{
    padding: 8px 15px;
    border-radius: 12px;
    background-color: rgb(25, 146, 25);
    font-size: 15px;
    color: azure;
    font-weight: 700;
    border: none;
    text-align: center;
}

.btn:hover{
    background-color: rgb(25, 146, 25)0;
    color: rgb(0, 0, 0);
}

.navbar.sticky .btn{
    background-color: rgb(25, 146, 25);
}

.btn i{
    margin-left: 10px;
}

.menu-bar{
    height: 50px;
    width: 50px;
    padding-top: 8px;
    align-items: center;
    outline: 1 px solid aliceblue;
    display: none;
}

.menu-bar i{
    font-size: 2.3rem;
}

.content{
    margin: 2rem 0;
    padding: 2rem 0;
}

.container{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
}

.heading{
    width: 50%;
}

.content .heading h1{
    font-size: 4rem;
    color: rgb(5, 5, 4);
}

.content h2{
    font-size: 5rem;
    color: rgb(7, 7, 7)
}

.content p{
    font-size: 18px;
    color: black;
    line-height: 30px;
    margin-bottom: 20px;
}

.content .heading .btn{
    display: inline-block;
    padding: 15px 40px;
    font-size: 18px;
    letter-spacing: 1px;
}

.content .headerimg{
    width: 75%;
    border-radius: 50%;
}

.content .headerimg .moi{
    width: 50%;
    border-radius: 20%;
    
}

.content .headerimg .LinkedIn{
    width: 12%;
    border-radius: 50%;
}

.content .headerimg .Discord-Symbol{
    width: 15%;
    border-radius: 100%;
}

.content .headerimg .insta{
    width: 15%;
    border-radius: 100%;
}

.content .headerimg .LinkedIn{
    position: absolute;
    top: 32%;
    left: 60%;
    width: 10%;
    padding: 0px;
    background-color: white;
    animation: updownphotoshop 4s infinite;
}

.content .headerimg .Discord-Symbol{
    position: absolute;
    top: 32%;
    left: 40%;
    width: 10%;
    padding: 0px;
    background-color: white;
    animation: updownai 4s infinite;
}

.content .headerimg .insta{
    position: absolute;
    top: 65%;
    left: 50%;
    width: 10%;
    padding: 0px;
    background-color: white;
    animation: diamond 4s infinite;
}

@keyframes updownphotoshop {
    0%,
    100% {
        transform: translate(-1px, -1px);
    }
    50%{
        transform: translate(-10px, -10px);
    }
}

@keyframes updownai {
    0%,
    100% {
        transform: translate(-1px, -1px);
    }
    50%{
        transform: translate(-10px, -10px);
    }
}

@keyframes diamond {
    0%,
    100% {
        transform: translate(-1px, -1px);
    }
    50%{
        transform: translate(-10px, -10px);
    }
}