*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
    background-color:rgb(255, 255, 255);
 }
 header{
   min-height: 120vh;
   width: 100%;
   background-image: linear-gradient(#ffdede, #d4f1f7);
   position: relative;
   overflow: hidden;
}
 .navbar
 {
    height: 5rem;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .navbar.sticky
 {
    position: fixed;
    width: 100%;
    background-color: #00ccff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999999;
 }
 .logo
 {
   display: flex;
   align-items: center; 
 }
 .logo span
 {
    font-size: 5rem;
    color:#00ccff;
    font-weight: 100;
 }
 .logo img
 {
    height: 60px;;
    width: 60px;
 }
 nav
 {
    width: 50%;
 }
 nav ul
 {
    display: flex;
    justify-content: space-evenly;
 }
 nav ul li
 {
    position: relative;
    padding: 0;
 }
 nav ul li a
 {
    color: rgb(3, 0, 9);
    font-size: 25px;
 }
 .navbar.sticky ul li a
 {
    color: rgb(124, 94, 94);
 }
nav ul li .active
{
   border-bottom: 5px solid #00ccff;
}
nav ul li:hover
{
    border-bottom: 5px solid #00ccff;
}

.btn 
{
   padding: 8px 15px;
   border-radius: 12px;
   background-color: #00ccff;
   font-size: 15px;
   color: rgb(0, 0, 0);
   font-weight:500;
   border: none;
   text-align: center;
   margin-left: 50px;
}
.btn:hover
{
   background-color:rgb(255, 200, 0);
   color: rgb(255, 255, 255);
}
.navbar.sticky .btn
{
   background-color:#00ccff;
}
.menu-bar
{
   height: 15px;
   width: 15px;
   padding-top: 15px;
   align-items: left;
   outline: 50px solid rgb(124, 89, 89);
   display: none;
}
.menu-bar i
{
   font-size:  3rem;
   margin-left: 15px;
}
.content
{
   margin:  2rem 2;
   padding: 2rem 2;
}

.container
{
   padding:  50px 10%;
   display: flex;
   justify-content: space-between;
}
.heading
{
   width: 50%;
}
.container .heading h1
{
   font-size:  6rem;
   color:#00ccff;
   margin-bottom: 20px;
}
.container .heading h2
{
   font-size:  4rem;
   color: black;
   
}
.content p
{
   font-size: center;
   color:black;
   line-height: 50px;
   margin-bottom: 20px;
}
.content .heading .btn
{
   display: inline-block;
   padding: 15px 15px;
   font-size: 15px;
   letter-spacing: 1px;
}
.content .headerimg{
   width: 75%;
   border-radius: 50%;
}

.content .headerimg .moi{
   width: 50%;
   border-radius: 70%;
}
.content .headerimg .LinkedIn{
   width: 12%;
   border-radius: 30%;
}

.content .headerimg .Discord-Symbol{
   width: 15%;
   border-radius: 100%;

}
.content .headerimg .insta{
   position: absolute;
   top: 75%;
   left: 50%;
   width: 10%;
   padding: 0px;
   background-color: white;
   border-radius: 50%;
   animation: updownphotoshop 4s infinite;
}

.content .headerimg .LinkedIn{
   position: absolute;
   top: 32%;
   left: 60%;
   width: 10%;
   padding: 0px;
   background-color: white;
   border-radius: 80%;
   animation: updownphotoshop 4s infinite;
}

.content .headerimg .Discord-Symbol{
   position: absolute;
   top: 32%;
   left: 40%;
   width: 10%;
   padding: 0px;
   background-color: white;
   border-radius: 80%;
   animation: updownai 4s infinite;
}

@keyframes updownphotoshop {
   0%,
   100% {
       transform: translate(-1px, -1px);
   }
   50%{
       transform: translate(-10px, -10px);
   }
}

@keyframes updownai {
   0%,
   100% {
       transform: translate(-1px, -1px);
   }
   50%{
       transform: translate(-10px, -10px);
   }
}

@keyframes diamond {
   0%,
   100% {
       transform: translate(-1px, -1px);
   }
   50%{
       transform: translate(-10px, -10px);
   }
}